@using WebApp.Helpers;
<script src="~/Scripts/Views/ContactMethod.js"></script>
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.CtrlTable(viewName: "ContactMethod", id: "tblContactMethod", title: "Contact Method List",
    columnsTitle: "ID,OwnerId,Type,Value,Description,INDPublicidad", ColumnsDataName: "ID,OwnerId,Type,Value,Description,INDPublicidad", onSelectFunction: "BindFields", ignoreColums: "red")


<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Customer edition</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "ContactMethod", id: "btnCreate", label: "Save", onClickFunction: "Create", buttonType: "success")
                @Html.CtrlButton(viewName: "ContactMethod", id: "btnUpdate", label: "Save changes", onClickFunction: "Update", buttonType: "info")
                @Html.CtrlButton(viewName: "ContactMethod", id: "btnDelete", label: "Delete", onClickFunction: "Delete", buttonType: "danger")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        @Html.CtrlInput(id: "txtID", type: "text", label: "ID", columnDataName: "ID")
                        @Html.CtrlInput(id: "txtOwnerId", type: "text", label: "Owner Id", columnDataName: "OwnerId")
                        @Html.CtrlInput(id: "txtType", type: "text", label: "Type", columnDataName: "Type")
                        @Html.CtrlInput(id: "txtValue", type: "text", label: "Value", columnDataName: "Value")
                        @Html.CtrlInput(id: "txtDescription", type: "text", label: "Description", columnDataName: "Description")
                        @Html.CtrlInput(id: "txtINDPublicidad", type: "text", label: "INDPublicidad", columnDataName: "INDPublicidad")
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>