
@{
    ViewBag.Title = "Direction";
}



@using WebApp.Helpers;
<script src="~/Scripts/Views/Directions.js"></script>




@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@Html.CtrlTable(viewName: "Directions", id: "tblDirections", title: "Direction List",
    columnsTitle: "ID,OwnerId,Province,Canton,Distrito,Details,Type", ColumnsDataName: "ID,OwnerId,Province,Canton,Distrito,Details,Type", onSelectFunction: "BindFields", ignoreColums: "OwnerId")


<div class="card border-secondary" style="margin-top: 50px;">
    <div class="card-header">
        <div class="row pull-right">
            <div class="col-md-8">Customer edition</div>
            <div class="col-md-4">
                @Html.CtrlButton(viewName: "Directions", id: "btnCreate", label: "Save", onClickFunction: "Create", buttonType: "success")
                @Html.CtrlButton(viewName: "Directions", id: "btnUpdate", label: "Save changes", onClickFunction: "Update", buttonType: "info")
                @Html.CtrlButton(viewName: "Directions", id: "btnDelete", label: "Delete", onClickFunction: "Delete", buttonType: "danger")
            </div>
        </div>
    </div>
    <div class="card-body">
        <div class="row">
            <div class="col-lg-6">
                <div class="bs-component">
                    <form id="frmEdition">
                        @Html.CtrlInput(id: "txtID", type: "text", label: "ID", columnDataName: "ID")
                        @Html.CtrlInput(id: "txtOwnerId", type: "text", label: "Owner ID", columnDataName: "OwnerId")
                        @*@Html.CtrlInput(id: "txtProvince", type: "text", label: "Province", columnDataName: "Province")*@
                        @Html.CtrlDropDown(id: "drpProvince", label: "Province", listId: "ProvinceList", columnDataName: "Province")
                        @Html.CtrlInput(id: "txtCanton", type: "text", label: "Canton", columnDataName: "Canton")
                        @Html.CtrlInput(id: "txtDistrito", type: "text", label: "Distrito", columnDataName: "Distrito")
                        @Html.CtrlInput(id: "txtDetails", type: "text", label: "Details", columnDataName: "Details")
                        @Html.CtrlInput(id: "txtType", type: "text", label: "Type", columnDataName: "Type")



                        


                    </form>
                </div>
            </div>
        </div>
    </div>
</div>